SECRET_KEY=<your-secret-key>
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost

DB_NAME=crm_db
DB_USER=<your-db-user>
DB_PASSWORD=<your-db-password>
DB_HOST=127.0.0.1
DB_PORT=3306

MYSQL_BIN=C:\Program Files\MySQL\MySQL Server 8.0\bin
